apiVersion: v1
kind: Service
metadata:
  name: {{ include "librecov.fullname" . }}
  labels:
    {{- include "librecov.labels" . | nindent 4 }}
spec:
  type: {{ .Values.service.type }}
  ports:
    - port: {{ .Values.service.port }}
      targetPort: http
      protocol: TCP
      name: http
  selector:
    {{- include "librecov.selectorLabels" . | nindent 4 }}
